<!-- FOOTER -->
<footer id="footer" style="background-color:red">
    <!-- top footer -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Giới Thiệu</h3>
                        
                        <ul class="footer-links">
                            <li><a href="#"><i class="fa fa-map-marker"></i>236 Hoàng Quốc Việt</a></li>
                            <li><a href="#"><i class="fa fa-phone"></i>0123456   </a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i>admin@gmail.com</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Danh Mục Sản Phẩm</h3>
                        <ul class="footer-links">
                            <li><a href="#">Khuyến Mãi</a></li>
                            <li><a href="#">SP Hot</a></li>
                            <li><a href="#"></a></li>
                           
                            
                        </ul>
                    </div>
                </div>

                <div class="clearfix visible-xs"></div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Thông Tin Về Túi Xách Chính Hãng</h3>
                        <ul class="footer-links">
                            <li><a href="#">Giới Thiệu Về Cửa Hàng</a></li>
                            <li><a href="#">Thông Tin Liên Hệ</a></li>
                            <li><a href="#">Chính Sách Bảo Hành</a></li>
                            <li><a href="#">Chính Sách Đổi Hàng & Hoàn Tiền</a></li>
                            <li><a href="#">Chính Sách Điều Khoản & Điều Kiện</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Dịch Vụ</h3>
                        <ul class="footer-links">
                            <li><a href="#">Tài Khoản Của Tôi</a></li>
                            <li><a href="#">Xem Giỏ Hàng</a></li>
                            <li><a href="#">Danh Sách Yêu Thích</a></li>
                            <li><a href="#">Theo Dõi Đơn Hàng</a></li>
                            <li><a href="#">Giúp Đỡ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /top footer -->
    <!-- bottom footer -->
    @*<div id="bottom-footer" class="section">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="footer-payments">
                        <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                        <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                    </ul>
                    <span class="copyright">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Dương Trần</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </span>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>*@
    <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->
